<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KLScreenFPSLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C72EC48C1D3C6419003E16B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C72EC4A51D3C6419003E16B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C72EC4B01D3C6419003E16B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
